{% extends 'base.html' %}


{% block content %}

<div class="well">
    <h4 style="margin-top: 0">Вулиця: {{ street.name }}</h4>
</div>

  <h4>Перелік сегментів:</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Район</th>
    </tr>
  </thead>
  <tbody>
    {% for segment in segment_list %}
      <tr>
        <td>{{ segment.id }}</td>
        <td>{{ segment.district }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
