{% extends 'blog/base.html' %}

{% load static %}
{% block content %}
    <div class="w3-xxxlarge w3-center" >Санта 2020</div>
    <div class="w3-content">
    <div class="w3-row-padding">
        <div class="w3-half">
            <img src="{% static "images/santa.png" %}" style="width: 90%" alt="santa">
        </div>
        <div class="w3-half">
        <h2><b>Учасники:</b></h2>
            {% for friend in friend_list %}
                <p><b>{{ friend.name }}</b></p>
            {% endfor %}
        </div>
    </div>
    <form class="w3-padding" action="{% url 'blog:show_pair'%}" method="post">
      {% csrf_token %}
      <label for="code" class="w3-xlarge"><b style="opacity:1">Узнать, кому я дарю подарок:</b></label>
      <input class="w3-input" type="text" id="code"  name="code" placeholder="Введи код.." required>
      <button class="w3-red w3-margin-top w3-button w3-round-large" type="submit">Узнать</button>
    </form>
    {% if user.is_authenticated %}
        <br>
        <br>
        <br>
        <br>
        <br>
    <a href="{% url 'blog:generate_pairs'%}" class="w3-button">Generate random pairs</a>
    {% endif %}
    </div>
{% endblock %}