{% extends 'blog/base.html' %}

{% load static %}
{% block content %}
    <div class="w3-content">
        <div class="w3-center">
            <p class="w3-large">Ты Санта для:</p>
            <p class="w3-xxlarge">{{ friend.name_of_friend }}</p>

        </div>
        <p class="w3-padding-large w3-xlarge">Правила:</p>
        <ul class="w3-large">
            <li>Подарок от 100 до 200 грн</li>
            <li>Подарок обязательно подписать (желательно вложить внутырь)</li>
            <li>Сложить подарки вместе возле ёлки</li>
        </ul>
        <div class="w3-center">
            <img src="{% static "images/chill_santa.jpg" %}" style="width: 60%" alt="">
        </div>
    </div>

{% endblock %}