<!DOCTYPE html>
<html lang="ru">

{% load static %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body, html {
        {#background-image: url("/media/images/christmas-colour.png");#}
        {#background-image: url("/media/images/background.jpg");#}
        background-image: url("{% static "present/images/background.jpg" %}");
        background-size: auto;
        height: 100%;
        margin: 0;
}
</style>

<body>
    <meta charset="UTF-8">
    <title>Santa 2020</title>
    {% block content %}
    {% endblock %}
</body>